@mixin flex($direction: row,$justify-content: space-between,$align-items: center){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $direction;
}


@mixin flexUl($direction: row,$justify-content:center,$align-items: center){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $direction;
}

@mixin border($none: none,$px:3px,$solid:solid,$white: white){
    border: $px $solid $white ;
    border-top: $none;
    border-right: $none;
    border-left: $none;
}

@mixin flexProduct($direction: row,$justify-content:center,$align-items: center,$wrap:nowrap){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $direction;
    flex-wrap: $wrap;
}